h1, h2, h3, h4, h5 {
    /* float: left; */
    /* margin: 0px !important; */
    padding: 0px;
    font-size: 30px;
    font-family: "Roboto Condensed";
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul li{
	list-style: none;
}
ul{
    padding-left: 0;
}


li.dropdown > a:after {
    top: 9px;
    right: 15px;
    content: "\f107";
}
.tp-banner-container {
    position: relative;
}
/*Slider Contents v1*/
.revolution-mch-1:after {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  background: rgba(0,0,0,0.3);
}

.revolution-ch1 {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

.revolution-ch2 {
  color: #fff;
  font-size: 20px;
  max-width: 470px;
  line-height: 32px;
  position: relative;
  text-align: center;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
}

.revolution-ch2:after {
  left: 50%;
  width: 70px;
  height: 2px;
  content: ' ';
  bottom: -20px;
  background: #fff;
  margin-left: -35px;
  position: absolute;
}

/*Slider Contents v2*/
.re-title-v1 {
	color: #fff;
	font-size: 75px;
	font-weight: 600;
	line-height: 60px;
	text-transform: uppercase;
	font-family: "Open Sans", Arial, sans-serif;
}

.re-title-v2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

.re-text-v1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
}

.re-text-v2 {
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", Arial, sans-serif;
}

/*Slides*/
.rs-caption-1 {
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  padding: 6px 75px;
  position: relative;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

.rs-caption-1:after,
.rs-caption-1:before {
  font-size: 16px;
  content: "\f005";
  position: absolute;
  font-family: FontAwesome;
}

@media (max-width: 768px) {
  .rs-caption-1:after,
  .rs-caption-1:before {
    content: "";
  }
}

.rs-caption-1:after {
  right: 4%;
}

.rs-caption-1:before {
  left: 4%;
}

.rs-caption-2 {
  color: #fff;
  position: relative;
  font-size: 26px;
  font-weight: 200;
  line-height: 40px;
  padding: 10px 50px;
  text-align: center;
}

.rs-caption-2:after {
  left: 50%;
  content: "";
  height: 1px;
  width: 100px;
  bottom: -10px;
  background: #fff;
  margin-left: -50px;
  position: absolute;
}

.rs-caption-3 a {
  margin: 0 5px;
  padding: 7px 20px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .rs-caption-1,
  .rs-caption-2,
  .rs-caption-3 {
    font-weight: normal;
  }
}

.intro {
    margin-top: 50px;
}
.intro-image img {
    width: 100%;
}
.services {
    margin-top: 50px;
    background: #F4F7FC;
    padding-top: 75px;
    padding-bottom: 35px;
}
.common {
    background: #fff;
    padding: 20px 22px 20px 22px;
    margin-bottom: 30px;
    border-bottom: 5px solid #0095EB;
}
.icon i {
    font-size: 25px;
    color: #0095EB;
}
.icon {
    text-align: center;
}
.common h4 {
    text-align: center;
}
.common p {
    text-align: justify;
}
.service-left h3 {
    line-height: 44px;
    font-size: 30px;
    font-weight: 700;
}
.service-left p {
    margin: 0 0 40px;
}
a.readon {
    background: #0095EB;
    padding: 15px;
    border-radius: 30px;
}
a.readon:hover {
    background: #fff;
    color: #0095EB;
    border: 1px solid #0095EB;
}
.common:hover {
    color: #fff;
    background: #0095EB;
}
.common:hover .icon i {
    color: #fff;
}
.fixed {
	position: fixed; 
	top: 0;
	background: #fff !important;
	width: 100%;
}

/*news*/
.demo{
    /*background: linear-gradient(to right,#ffcccc,#d3d3d3);*/
    margin: 40px 0 40px 0;
}
.demo h2{
	text-align: center;
    padding-bottom: 25px;
}
.post-slide{
    margin: 0 15px;
}
.post-slide .post-img{
    overflow: hidden;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
}
.post-slide:hover .post-img img{
    transform: scale(1.08);
}
.post-slide .post-content{
    background: #F4F7FC;
    padding: 20px;
}
.post-slide .post-title{
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}
.post-slide .post-title a{
    display: inline-block;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide .post-description{
    font-size: 15px;
    color: #676767;
    line-height: 24px;
    margin-bottom: 14px;
}
.post-slide .post-bar{
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}
.post-slide .post-bar li{
    color: #676767;
    padding: 2px 0;
}
.post-slide .post-bar li i{
    margin-right: 5px;
}
.post-slide .post-bar li a{
    display: inline-block;
    font-size: 12px;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-bar li a:after{
    content: ",";
}
.post-slide .post-bar li a:last-child:after{
    content: "";
}
.post-slide .post-bar li a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide .read-more{
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #0095EB;
    border-bottom-right-radius: 10px;
    text-transform: capitalize;
    transition: all 0.30s linear;
}
.post-slide .read-more:hover{
    background: #333;
    text-decoration: none;
}
/*end news*/

/*parallax*/
.top-area {
    background-image: url("../images/background.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0;
}
.top-area .overlay{
	position: absolute;
    top: 0;
    left: 0;
    background: #0095EB;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.rs-counter-list {
    background: #fff;
    padding: 34px 20px 40px;
    transition: .20s;
    border-radius: 5px;
    text-align: center;
}
.rs-counter-list h3 {
    margin-top: 0 !important;
    color: #757575;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
/*end parallax*/

/*footer*/
.footer {
    background: #0095EB;
    margin-top: 50px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-img a img {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}
.link li {
    padding-bottom: 10px;
}
.link li a {
    color: #fff;
}
.link li i {
    padding-right: 12px;
}  
.footer1 p {
    margin-top: 20px;
}
.footer-bottom {
    margin-top: 25px;
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 25px;
}
.footer-right a {
    color: #fff;
}
.footer-right {
    float: right;
}
ul.link {
    padding-left: 0px;
}
ul.link li {
    list-style: none;
}
/*footer*/


/*Contact*/
.contact {
    margin-top: 30px;
    float: left;
}
.contact-left h4 {
    font-size: 25px;
    font-weight: bold;
    color: #0095EB;
    margin-bottom: 20px;
}
.contact-left p {
    margin-bottom: 20px;
}
.contact-info li i {
    padding-right: 10px;
    color: #0095EB;
}
.contact-info li {
    padding-bottom: 20px;
}
.contact-right h4 {
    font-size: 25px;
    font-weight: bold;
    color: #0095EB;
    margin-bottom: 23px;
    padding-left: 15px;
}

.btn-u {
    border-radius: 3px;
    border: 1px solid #0095EB;
    padding: 5px;
    color: #fff;
    background: #0095EB;
    margin-left: 16px;
}
.form-control {
    margin-bottom: 15px;
}
.breadcrumb.img-1 {
    background: url(../images/contact-image.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0px;
}
.breadcrumb {
    z-index: 1;
    padding: 40px 0;
    position: relative;
    font-size: 30px;
    color: #fff;
}
ul.pull-left li {
    display: inline-block;
}
.pull-left>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
ul.pull-left li a:hover {
    color: #fff;
    text-decoration: none;
}

/*app form*/
#newsticker-demo { 
width:310px; 
background:#EAF4F5; 
padding:5px 5px 0; 
font-family:Verdana,Arial,Sans-Serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:300px; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:left; width:110px; }
.newsticker-jcarousellite .info { float:right; width:190px;padding: 5px; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080;margin-top: 18px; }
.top {
    color: #444;
    font-size: 15px;
    font-weight: bold;
}
.clear { clear: both; }
.app-form ul li a {
    color: #444;
}
.appli-form {
    margin-top: 40px;
}
.app-form ul li i {
    padding-right: 10px;
    padding-bottom: 10px;
}
/*end*/